<!--forgot_password.html (place in Login_Page/templates)-->
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('login_page.static', filename='css/Login_Page.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-image-section">
        <img src="{{ url_for('static', filename='media/login.png') }}" alt="Reset Password Image" />
    </div>
    <div class="login-form">
        <h1>שחזור סיסמה</h1>
        <form method="POST" action="{{ url_for('login_page.forgot_password') }}" id="forgotPasswordForm" novalidate>
            <div class="form-group">
                <label for="email">אימייל</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit" class="login-button">שלח קישור לאיפוס</button>
        </form>

        <div class="additional-options">
            <a href="{{ url_for('login_page.login') }}" class="back-to-login">חזרה להתחברות</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('login_page.static', filename='js/forgot_password.js') }}"></script>
{% endblock %}